/**
 * This file contains custom CSS for the JASMIN notifications app
 *
 * Author: Matt Pryor
 *
 * Copyright 2016 STFC
 */

.unread-count {
    background-color: #ff3333;
}

.disabled .unread-count {
    background-color: #ccc;
}

.notification-list {
    padding: 0;
    min-width: 250px;
}

li.notification-header {
    padding: 5px 15px;
    font-weight: bold;
    text-align: center;
    background: #e6e6e6;
    white-space: nowrap;
    color: #555;
}

li.notification > a {
    border-top: 1px solid #ccc;
    padding: 10px 15px;
}

li.notification-info > a:hover {
    background: #e8e8e8;
}

li.notification-attention > a {
    background-color: #d9edf7;
    color: #31708f !important;
}

li.notification-attention > a:hover {
    background: #c4e3f3;
}

li.notification-success > a {
    background-color: #dff0d8;
    color: #3c763d !important;
}

li.notification-success > a:hover {
    background: #d0e9c6;
}

li.notification-warning > a {
    background: #fcf8e3;
    color: #8a6d3b !important;
}

li.notification-warning > a:hover {
    background: #faf2cc;
}

li.notification-error > a {
    background: #f2dede;
    color: #a94442 !important;
}

li.notification-error > a:hover {
    background: #ebcccc;
}
