{% load humanize %}

<li class="{% if notifications %}dropdown{% else %}disabled{% endif %}">
    <a href="#" {% if notifications %}class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"{% endif %}>
        <i class="fa fa-bell"></i> <span class="badge unread-count">{{ notifications|length }}</span>
    </a>
    {% if notifications %}
        <ul class="disabled dropdown-menu notification-list">
            <li class="notification-header"><i class="fa fa-bell"></i> Notifications</li>
            {% for notification in notifications %}
                <li class="notification notification-{{ notification.level }}">
                    <a href="{{ notification.follow_link }}">
                        {% include "jasmin_notifications/messages/"|add:notification.notification_type|add:".html" %}
                        {% if notification.created_at %}<span class="notification-time">{{ notification.created_at|naturaltime }}</span>{% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</li>
