{% load humanize %}

<li class="nav-item {% if notifications %}dropdown{% else %}disabled{% endif %}">
    <a href="#" class="nav-link dropdown-toggle"{% if notifications %} data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"{% endif %}>
        <i class="fa fa-bell"></i> <span class="{%if notifications %}badge bg-danger{% endif %}">{{ notifications|length }}</span>
    </a>
    {% if notifications %}
        <ul class="dropdown-menu dropdown-menu-end" style="max-width: 100vw;">
            <li><h6 class="dropdown-header"><i class="fa fa-bell"></i> Notifications</h6></li>
            {% for notification in notifications %}
                <li class="notification notification-{{ notification.level }}">
                    <a class="dropdown-item" href="{{ notification.follow_link }}">
                        {% include "jasmin_notifications/messages/"|add:notification.notification_type|add:".html" %}
                        {% if notification.created_at %}{{ notification.created_at|naturaltime }}{% endif %}
                    </a>
                </li>
            {% endfor %}
            <li>
                <form method="post" action="{% url 'jasmin_notifications:clear_all' %}" >
                    {% csrf_token %}
                    <button type="submit" class="dropdown-item">Clear All Notifications</button>
                </form>
            </li>
        </ul>
    {% endif %}
</li>
